In [6]:
# Import libraries
import pandas as pd
import numpy as np

In [7]:
# import redcap csv
df = pd.read_csv('/Users/mkersey/Library/CloudStorage/Box-Box/math_cognition_team/projects/ucsfneuroviz/data/DyslexiaProject-VISITONE-PHENO_DATA_2023-09-11.csv')
df

/var/folders/9r/l5byf96j5qv7bx1hlzlkwz7h0000gp/T/ipykernel_1273/2747815473.py:2: DtypeWarning: Columns (7,11,22,43,59,60,61,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,105,106,111,112,113,114,115,117,119,198,201,202,205,218,289,411,439,440,491,492,501,502,503,504,506,585,586,587,588,589,592,610,612,614,648,649,663,719,721,722,777,785,793,795,796,807,811,812,863,864,865,866,876,877,879,880,881,885,888,891,894,899,903,906,910,914,918,922,927,931,935,940,943,947,950,953,956,959,962,965,968,971,974,976,977,978,982,1112,1117,1118,1135,1137,1144,1145,1146,1153,1155,1157,1161,1162,1177,1189,1190,1194,1196,1197,1198,1209,1249,1250,1251,1252,1256,1260,1262,1264,1268,1270,1277,1278,1280,1281,1282,1284,1285,1287,1288,1290,1313,1315,1322,1326,1328,1331,1334,1336,1338,1339,1340,1341,1343,1347,1348,1350,1351,1352,1353,1355,1358,1359,1360,1362,1363,1364,1365,1367,1370,1371,1372,1374,1375,1376,1377,1379,1382,1383,1384,1386,1387,1388,1389,1391,1394,1395,1396,1398,1401,1407,1408,1412,1413,1414,1415,1417,1418,1433,1435,1437,1439,1441,1443,1445,1449,1452,1453,1454,1455,1456,1463,1465,1467,1468,1472,1474,1476,1477,1478,1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499,1500,1501,1502,1503,1504,1505,1506,1507,1508,1509,1519,1520,1560,1561,1562,1564,1565,1567,1568,1574,1577,1578,1579,1581,1583,1584,1585,1587,1590,1591,1592,1594,1595,1596,1597,1598,1599,1601,1602,1603,1604,1605,1606,1612,1613,1614,1615,1616,1618,1619,1620,1621,1622,1624,1625,1626,1627,1628,1630,1631,1632,1633,1634,1636,1637,1638,1639,1640,1642,1643,1644,1645,1646,1648,1655,1656,1660,1661,1662,1687,1688,1689,1690,1695,1696,1699,1700,1701,1702,1703,1704,1705,1706,1707,1709,1710,1711,1712,1713,1716,1717,1718,1719,1728,1729,1730,1735,1736,1737,1738,1739,1740,1741,1755,1756,1757,1758,1759,1760,1761,1762,1763,1764,1765,1766,1767,1768,1769,1770,1771,1773,1774,1775,1776,1777,1778,1779,1780,1781,1782,1783,1784,1785,1786,1787,1788,1789,1790,1791,1792,1795,1798,1801,1804,1806,1809,1814,1817,1823,1826,1838,1839,1840,1842,1843,1845,1854,1855,1856,1858,1859,1861,1863,1874,1875,1877,1880,1881,1882,1883,1884,1885,1887,1888,1889,1900,1912,1913,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1940,1941,1949,1950,1951,1952,1953,1954,1955,1956,1957,1994,1995,1996,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2025,2026,2029,2030,2031,2032,2047,2049,2061,2121,2174,2175,2179,2180,2181,2182,2183,2184,2185,2186,2280,2285,2292,2293,2294,2296,2301,2305,2313,2317,2322,2332,2338,2340,2342,2344,2357,2369,2370,2377,2378,2379,2381,2382,2383,2387,2394,2395,2396,2397,2398,2403,2407,2415,2419,2424,2434,2440,2442,2443,2446,2459,2471,2472,2479,2480,2481,2482,2483,2484,2485,2489,2496,2497,2498,2499,2500,2505,2509,2517,2521,2526,2536,2543,2544,2548,2561,2573,2574,2582,2583,2584,2585,2586,2587,2615,2617,2619,2620,2648,2650,2652,2653,2681,2683,2685,2686,2693,2844,2846,2854,2855,2856,2866,2867,2868,2878,2879,2880,2882,2890,2891,2892,2894,2903,2904,2906,2915,2916,2918,2926,2927,2928,2930,2938,2939,2940,2942,2951,2952,2954,2962,2963,2964,2966,2975,2976,2984,3086,3099,3100,3101,3109,3111,3113,3123,3124,3125,3134,3145,3146,3147,3148,3149,3157,3158,3159,3161,3170,3171,3173,3182,3183,3185,3194,3195,3205,3206,3207,3218,3221,3230,3231,3233,3242,3243,3245,3253,3254,3265,3266,3267,3269,3275,3331,3342,3343,3355,3356,3367,3370,3379,3380,3382,3390,3391,3392,3394,3402,3403,3404,3406,3415,3416,3418,3419,3428,3430,3436,3515,3533,3534,3535,3541,3545,3547,3551,3552,3553,3559,3564,3565,3569,3570,3576,3581,3582,3583,3587,3588,3593,3594,3595,3599,3600,3601,3605,3606,3607,3612,3623,3630,3692,3709,3710,3727,3728,3735,3740,3745,3746,3752,3753,3757,3758,3759,3763,3764,3771,3775,3776,3777,3781,3782,3787,3788,3793,3794,3799,3800,3801,3805,3806,3807,3811,3812,3813,3817,3824,3851,3866,3888,3924,3925,3926,3927,3928,3929,3930,3931,3932,3937,3949,3950,3955,3962,3979,3980,3981,3982,3984,3986,3988,3989,3990,3991,3994,3999,4011,4014,4015,4018,4024,4041,4043,4044,4045,4047,4048,4049,4050,4051,4052,4053,4054,4055,4056,4061,4085,4086,4087,4088,4089,4090,4095,4099,4100,4101,4106,4138,4144,4152,4153,4154,4160,4162,4168,4169,4170,4171,4176,4177,4178,4179,4184,4186,4187,4192,4211,4212,4221,4222,4224,4231,4232,4252,4261,4262,4264,4272,4282,4283,4284,4292,4294,4302,4312,4322,4324,4329,4343,4345,4353,4355,4363,4372,4373,4385,4395,4400,4412,4413,4414,4415,4416,4417,4418,4423,4449,4455,4461,4467,4468,4469,4473,4474,4475,4479,4480,4481,4485,4491,4493,4498,4517,4519,4520,4529,4531,4541,4542,4543,4544,4554,4555,4556,4565,4566,4567,4568,4579,4592,4600,4601,4603,4604,4613,4614,4615,4616,4624,4625,4626,4627,4628,4633,4644,4645,4646,4647,4648,4649,4650,4651,4652,4653,4658,4670,4671,4672,4673,4674,4675,4676,4677,4678,4683,4688,4689,4690,4691,4696,4702,4703,4704,4709,4715,4716,4717,4745,4766,4767,4768,4770,4779,4783) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/mkersey/Library/CloudStorage/Box-Box/math_cognition_team/projects/ucsfneuroviz/data/DyslexiaProject-VISITONE-PHENO_DATA_2023-09-11.csv')

,id_number,redcap_event_name,pidn,dob,sex,sex_other,gender,gender_other,handedness,ehi_score,...,dsb1_date,dsb1_impressions,dsb1_add_notes,dsb1_mld,dsb1_mld_irreconcilable,dsb1_mld_numbers,dsb1_mld_calculation,dsb1_mld_arithfacts,dsb1_mld_visuospatial,dyscalculia_subtyping_battery_1_entry_form_complete
0,1,visit_one_arm_1,1.0,1/1/11,1,NaN,2.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,16365,visit_one_arm_1,16365.0,8/12/04,2,NaN,2.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,16394,visit_one_arm_1,16394.0,4/1/02,2,NaN,2.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,17065,visit_one_arm_1,17065.0,4/15/00,2,NaN,2.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,17066,visit_one_arm_1,17066.0,9/16/98,2,NaN,2.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565,35030,visit_one_arm_1,35030.0,9/4/12,1,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
566,35059,visit_one_arm_1,35059.0,8/10/10,2,NaN,NaN,NaN,NaN,425.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
567,35060,visit_one_arm_1,35060.0,9/8/09,2,NaN,2.0,NaN,2.0,425.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
568,35069,visit_one_arm_1,35069.0,3/12/15,2,NaN,NaN,NaN,NaN,400.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
569,35071,visit_one_arm_1,35071.0,11/12/10,1,NaN,1.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [9]:
mathbat1 = df[df['date_mathbat'].notnull()]
mathbat1

,id_number,redcap_event_name,pidn,dob,sex,sex_other,gender,gender_other,handedness,ehi_score,...,dsb1_date,dsb1_impressions,dsb1_add_notes,dsb1_mld,dsb1_mld_irreconcilable,dsb1_mld_numbers,dsb1_mld_calculation,dsb1_mld_arithfacts,dsb1_mld_visuospatial,dyscalculia_subtyping_battery_1_entry_form_complete
13,19270,visit_one_arm_1,19270.0,8/29/06,1,NaN,1.0,NaN,2.0,NaN,...,8/30/18,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0
31,20285,visit_one_arm_1,20285.0,1/13/07,1,NaN,1.0,NaN,2.0,NaN,...,8/24/18,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0
39,20693,visit_one_arm_1,20693.0,8/30/08,2,NaN,2.0,NaN,2.0,NaN,...,4/3/20,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0
47,20890,visit_one_arm_1,20890.0,2/1/02,2,NaN,2.0,NaN,2.0,NaN,...,11/9/18,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0
54,21099,visit_one_arm_1,21099.0,4/8/05,2,NaN,2.0,NaN,2.0,NaN,...,10/2/18,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,32759,visit_one_arm_1,32759.0,5/2/11,1,NaN,1.0,NaN,2.0,NaN,...,1/13/21,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,0
374,32761,visit_one_arm_1,32761.0,6/29/12,1,NaN,1.0,NaN,2.0,NaN,...,1/27/21,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0
375,32766,visit_one_arm_1,32766.0,1/9/12,2,NaN,2.0,NaN,2.0,NaN,...,9/4/20,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,0
377,32775,visit_one_arm_1,32775.0,5/19/11,1,NaN,1.0,NaN,2.0,NaN,...,12/2/20,NaN,NaN,-1.0,excluded,NaN,NaN,NaN,NaN,0
386,32897,visit_one_arm_1,32897.0,9/23/09,2,NaN,2.0,NaN,NaN,NaN,...,2/15/21,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0

In [10]:
mathbat2 = df[df['date_mathbat_2'].notnull()]
mathbat2

,id_number,redcap_event_name,pidn,dob,sex,sex_other,gender,gender_other,handedness,ehi_score,...,dsb1_date,dsb1_impressions,dsb1_add_notes,dsb1_mld,dsb1_mld_irreconcilable,dsb1_mld_numbers,dsb1_mld_calculation,dsb1_mld_arithfacts,dsb1_mld_visuospatial,dyscalculia_subtyping_battery_1_entry_form_complete
327,32229,visit_one_arm_1,32229.0,11/30/07,1,NaN,1.0,NaN,2.0,NaN,...,2/17/20,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0
348,32592,visit_one_arm_1,32592.0,3/10/12,2,NaN,2.0,NaN,2.0,NaN,...,4/6/20,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0
349,32593,visit_one_arm_1,32593.0,7/5/10,1,NaN,1.0,NaN,2.0,NaN,...,4/8/20,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0
361,32693,visit_one_arm_1,32693.0,7/7/10,2,NaN,2.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
362,32700,visit_one_arm_1,32700.0,2/5/10,1,NaN,1.0,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520,34360,visit_one_arm_1,34360.0,2/9/10,1,NaN,1.0,NaN,2.0,350.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
524,34439,visit_one_arm_1,34439.0,11/10/13,2,NaN,NaN,NaN,2.0,225.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
525,34465,visit_one_arm_1,34465.0,11/25/12,2,NaN,2.0,NaN,2.0,250.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
526,34469,visit_one_arm_1,34469.0,5/20/12,1,NaN,1.0,NaN,2.0,500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
527,34471,visit_one_arm_1,34471.0,1/22/06,2,NaN,2.0,NaN,2.0,500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [11]:
mri = df[df['date_mri'].notnull()]
mri

,id_number,redcap_event_name,pidn,dob,sex,sex_other,gender,gender_other,handedness,ehi_score,...,dsb1_date,dsb1_impressions,dsb1_add_notes,dsb1_mld,dsb1_mld_irreconcilable,dsb1_mld_numbers,dsb1_mld_calculation,dsb1_mld_arithfacts,dsb1_mld_visuospatial,dyscalculia_subtyping_battery_1_entry_form_complete
1,16365,visit_one_arm_1,16365.0,8/12/04,2,NaN,2.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,16394,visit_one_arm_1,16394.0,4/1/02,2,NaN,2.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,17065,visit_one_arm_1,17065.0,4/15/00,2,NaN,2.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,17066,visit_one_arm_1,17066.0,9/16/98,2,NaN,2.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
5,17067,visit_one_arm_1,17067.0,10/9/04,1,NaN,1.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,34626,visit_one_arm_1,34626.0,7/11/10,2,NaN,2.0,NaN,2.0,500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
542,34661,visit_one_arm_1,34661.0,7/8/09,1,NaN,1.0,NaN,2.0,500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
545,34671,visit_one_arm_1,34671.0,5/15/08,2,NaN,2.0,NaN,2.0,500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
546,34693,visit_one_arm_1,34693.0,12/10/11,1,NaN,1.0,NaN,2.0,375.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
552,34797,visit_one_arm_1,34797.0,8/1/14,2,NaN,2.0,NaN,2.0,325.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [16]:
mathbat1_and_mri = df[(df['date_mathbat'].notnull()) & (df['date_mri'].notnull())]
mathbat2_and_mri = df[(df['date_mathbat_2'].notnull()) & (df['date_mri'].notnull())]

mathbat1_and_no_mri = df[(df['date_mathbat'].notnull()) & (df['date_mri'].isnull())]
mathbat2_and_no_mri = df[(df['date_mathbat_2'].notnull()) & (df['date_mri'].isnull())]


mathbat1_and_mri

print("Number of participants with math battery 1 and MRI: ", len(mathbat1_and_mri))
print("Out of total number of participants with math battery 1: ", len(mathbat1))
print("\n")
print("Number of participants with math battery 2 and MRI: ", len(mathbat2_and_mri))
print("Out of total number of participants with math battery 2: ", len(mathbat2))
print("\n")
print("Total number of participants with MRI: ", len(mri))

Number of participants with math battery 1 and MRI:  124
Out of total number of participants with math battery 1:  141


Number of participants with math battery 2 and MRI:  106
Out of total number of participants with math battery 2:  118


Total number of participants with MRI:  428

In [45]:
# diagnosis___1
# kids math battery (1  OR  2)
# how many have MRI
# controls, dyslexia only, dyslexia+MLD, MLD only

# MLD: dsb2_mld, dsb1mld

# interactive ipython notebook with bar plots (by tomorrow morning)
# critical variables: mri, mathbat1, mathbat2, diagnosis___1, dsb2_mld, dsb1_mld
# i.e. plot basic stats of everyone who completed math battery (age, gender, race)
# create variables that tell us about completeness of math battery (either 1 or 2)
# eventually we need to define what's a complete battery i.e. completed language battery

mathbat_either = df[(df['date_mathbat'].notna()) | (df['date_mathbat_2'].notna())]
print(len(mathbat_either))
print(len(mathbat_either[(df['date_mri'].notna())]))
print(len(mathbat_either[(df['date_mri'].isna())]))
print(len(mathbat_either[(df['date_mri'].notna()) & (df['diagnosis___5']==1) | (df['diagnosis___16']==1)]))
print(len(mathbat_either[(df['date_mri'].notna()) & (df['diagnosis___1']==1) & ((df['dsb2_mld']==0) | (df['dsb1_mld']==0))]))
print(len(mathbat_either[(df['date_mri'].notna()) & ((df['diagnosis___1']==1) & ((df['dsb2_mld']==1) | (df['dsb1_mld']==1)))]))
print(len(mathbat_either[(df['date_mri'].notna()) & ((df['diagnosis___1']==0) & ((df['dsb2_mld']==1) | (df['dsb1_mld']==1)))]))

256
229
27
23
40
102
41

/var/folders/9r/l5byf96j5qv7bx1hlzlkwz7h0000gp/T/ipykernel_1273/3177637459.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(len(mathbat_either[(df['date_mri'].notna())]))
/var/folders/9r/l5byf96j5qv7bx1hlzlkwz7h0000gp/T/ipykernel_1273/3177637459.py:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(len(mathbat_either[(df['date_mri'].isna())]))
/var/folders/9r/l5byf96j5qv7bx1hlzlkwz7h0000gp/T/ipykernel_1273/3177637459.py:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(len(mathbat_either[(df['date_mri'].notna()) & (df['diagnosis___5']==1) | (df['diagnosis___16']==1)]))
/var/folders/9r/l5byf96j5qv7bx1hlzlkwz7h0000gp/T/ipykernel_1273/3177637459.py:13: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(len(mathbat_either[(df['date_mri'].notna()) & (df['diagnosis___1']==1) & ((df['dsb2_mld']==0) | (df['dsb1_mld']==0))]))
/var/folders/9r/l5byf96j5qv7bx1hlzlkwz7h0000gp/T/ipykernel_1273/3177637459.py:14: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(len(mathbat_either[(df['date_mri'].notna()) & ((df['diagnosis___1']==1) & ((df['dsb2_mld']==1) | (df['dsb1_mld']==1)))]))
/var/folders/9r/l5byf96j5qv7bx1hlzlkwz7h0000gp/T/ipykernel_1273/3177637459.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(len(mathbat_either[(df['date_mri'].notna()) & ((df['diagnosis___1']==0) & ((df['dsb2_mld']==1) | (df['dsb1_mld']==1)))]))

,id_number,redcap_event_name,pidn,dob,sex,sex_other,gender,gender_other,handedness,ehi_score,...,dsb1_impressions,dsb1_add_notes,dsb1_mld,dsb1_mld_irreconcilable,dsb1_mld_numbers,dsb1_mld_calculation,dsb1_mld_arithfacts,dsb1_mld_visuospatial,dyscalculia_subtyping_battery_1_entry_form_complete,diagnosis_dyslexia_mld
382,32790,visit_one_arm_1,32790.0,7/23/12,1,NaN,1.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
384,32829,visit_one_arm_1,32829.0,2/9/05,2,NaN,2.0,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
390,33016,visit_one_arm_1,33016.0,3/30/12,1,NaN,1.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
398,33322,visit_one_arm_1,33322.0,12/6/12,1,NaN,1.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
412,33535,visit_one_arm_1,33535.0,2/7/14,1,NaN,1.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
413,33545,visit_one_arm_1,33545.0,2/27/12,1,NaN,1.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
415,33550,visit_one_arm_1,33550.0,6/6/12,1,NaN,1.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
434,33631,visit_one_arm_1,33631.0,8/11/09,1,NaN,1.0,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
441,33663,visit_one_arm_1,33663.0,1/21/14,1,NaN,1.0,NaN,2.0,375.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
447,33672,visit_one_arm_1,33672.0,11/18/04,2,NaN,NaN,NaN,2.0,450.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
452,33687,visit_one_arm_1,33687.0,7/28/10,1,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
458,33717,visit_one_arm_1,33717.0,6/12/10,1,NaN,1.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
460,33719,visit_one_arm_1,33719.0,1/22/14,1,NaN,1.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
463,33724,visit_one_arm_1,33724.0,2/19/10,2,NaN,2.0,NaN,2.0,500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
492,33975,visit_one_arm_1,33975.0,5/25/10,2,NaN,2.0,NaN,2.0,350.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
495,34100,visit_one_arm_1,34100.0,1/19/10,1,NaN,1.0,NaN,2.0,300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
499,34106,visit_one_arm_1,34106.0,10/8/07,1,NaN,1.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
515,34248,visit_one_arm_1,34248.0,11/29/13,2,NaN,2.0,NaN,2.0,325.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
541,34626,visit_one_arm_1,34626.0,7/11/10,2,NaN,2.0,NaN,2.0,500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN

In [32]:
df['diagnosis_dyslexia_mld']=np.nan
df['diagnosis_dyslexia_mld'][(df['dsb1_mld'].isin([0, np.NaN])) & (df['dsb2_mld'].isin([0, np.NaN])) & (df['diagnosis___1']==1)]='dyslexia only'
df['diagnosis_dyslexia_mld'][((df['dsb1_mld']==1) | (df['dsb2_mld']==1)) & (df['diagnosis___1']==1)]='dyslexia and MLD'
df['diagnosis_dyslexia_mld'][((df['dsb1_mld']==1) | (df['dsb2_mld']==1)) & (df['diagnosis___1']==0)]='MLD only'
df['diagnosis_dyslexia_mld'][(df['dsb1_mld'].isin([0, np.NaN])) & (df['dsb2_mld'].isin([0, np.NaN])) & (df['diagnosis___1']==0) & ((df['diagnosis___5']==1) | (df['diagnosis___16']==1))]='control'
df[df['date_mri'].notna()]['diagnosis_dyslexia_mld'].value_counts()

/var/folders/9r/l5byf96j5qv7bx1hlzlkwz7h0000gp/T/ipykernel_1273/481105324.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['diagnosis_dyslexia_mld'][(df['dsb1_mld'].isin([0])) & (df['dsb2_mld'].isin([0])) & (df['diagnosis___1']==1)]='dyslexia only'
/var/folders/9r/l5byf96j5qv7bx1hlzlkwz7h0000gp/T/ipykernel_1273/481105324.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['diagnosis_dyslexia_mld'][((df['dsb1_mld']==1) | (df['dsb2_mld']==1)) & (df['diagnosis___1']==1)]='dyslexia and MLD'

dyslexia and MLD    108
MLD only             46
Name: diagnosis_dyslexia_mld, dtype: int64

In [31]:
df[df['date_mri'].notna()]

,id_number,redcap_event_name,pidn,dob,sex,sex_other,gender,gender_other,handedness,ehi_score,...,dsb1_impressions,dsb1_add_notes,dsb1_mld,dsb1_mld_irreconcilable,dsb1_mld_numbers,dsb1_mld_calculation,dsb1_mld_arithfacts,dsb1_mld_visuospatial,dyscalculia_subtyping_battery_1_entry_form_complete,diagnosis_dyslexia_mld
1,16365,visit_one_arm_1,16365.0,8/12/04,2,NaN,2.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,dyslexia only
2,16394,visit_one_arm_1,16394.0,4/1/02,2,NaN,2.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,dyslexia only
3,17065,visit_one_arm_1,17065.0,4/15/00,2,NaN,2.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,dyslexia only
4,17066,visit_one_arm_1,17066.0,9/16/98,2,NaN,2.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,dyslexia only
5,17067,visit_one_arm_1,17067.0,10/9/04,1,NaN,1.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,dyslexia only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,34626,visit_one_arm_1,34626.0,7/11/10,2,NaN,2.0,NaN,2.0,500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,dyslexia only
542,34661,visit_one_arm_1,34661.0,7/8/09,1,NaN,1.0,NaN,2.0,500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,MLD only
545,34671,visit_one_arm_1,34671.0,5/15/08,2,NaN,2.0,NaN,2.0,500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
546,34693,visit_one_arm_1,34693.0,12/10/11,1,NaN,1.0,NaN,2.0,375.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
552,34797,visit_one_arm_1,34797.0,8/1/14,2,NaN,2.0,NaN,2.0,325.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,MLD only